<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de upload</title>
</head>
<body>
    <h1>Formulário de upload</h1>
    <form method="post" enctype="multipart/form-data" action="/upload">
        <input type="file" name="arquivo">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>